# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [15]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [16]:
df = pd.read_csv("../output_data/cities.csv")
df

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,Atuona,-9.8000,-139.0333,76.53,78,30,17.25,PF,1665826901
1,Leningradskiy,69.3833,178.4167,11.12,86,71,5.26,RU,1665826902
2,Busselton,-33.6500,115.3333,57.85,65,20,13.06,AU,1665826902
3,Vaini,-21.2000,-175.2000,69.96,100,20,2.30,TO,1665826902
4,Albany,42.6001,-73.9662,41.54,90,4,0.92,US,1665826902
...,...,...,...,...,...,...,...,...,...
210,Dessie,11.1333,39.6333,63.52,50,22,6.38,ET,1665826941
211,George Town,5.4112,100.3354,84.15,84,20,4.61,MY,1665826667
212,Pecos,31.4229,-103.4932,72.30,72,0,0.00,US,1665826941
213,Porto-Novo,6.4965,2.6036,84.02,66,99,7.43,BJ,1665826942
214,Solnechnyy,50.7214,136.6319,43.47,95,67,4.59,RU,1665826942

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [17]:
df.columns

Index(['City', 'Latitude', 'Longitude', 'Max Temperature', 'Humidity',
       'Cloudiness', 'Wind Speed', 'Country', 'Date'],
      dtype='object')

In [18]:
# Configure gmaps
gmaps.configure(api_key = g_key)

# Use the Lat and Lng as locations and Humidity as the weight
locations = df[["Latitude", "Longitude"]]
weight = df["Humidity"]

# Add a Heatmap layer to map
fig = gmaps.figure(center = (0, 0), zoom_level = 1)
heatmap_layer = gmaps.heatmap_layer(locations, weights = weight)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions:
1. A max temperature lower than 80 degrees but higher than 70
2. Wind speed less than 10 mph
3. Zero cloudiness
4. Humidity is less than 30
* Drop any rows with null values.

In [19]:
df.columns

Index(['City', 'Latitude', 'Longitude', 'Max Temperature', 'Humidity',
       'Cloudiness', 'Wind Speed', 'Country', 'Date'],
      dtype='object')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             215 non-null    object
 1   Latitude         215 non-null    float64
 2   Longitude        215 non-null    float64
 3   Max Temperature  215 non-null    float64
 4   Humidity         215 non-null    int64
 5   Cloudiness       215 non-null    int64
 6   Wind Speed       215 non-null    float64
 7   Country          213 non-null    object
 8   Date             215 non-null    int64
dtypes: float64(4), int64(3), object(2)
memory usage: 15.2+ KB

In [21]:
df.head()

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,Atuona,-9.8000,-139.0333,76.53,78,30,17.25,PF,1665826901
1,Leningradskiy,69.3833,178.4167,11.12,86,71,5.26,RU,1665826902
2,Busselton,-33.6500,115.3333,57.85,65,20,13.06,AU,1665826902
3,Vaini,-21.2000,-175.2000,69.96,100,20,2.30,TO,1665826902
4,Albany,42.6001,-73.9662,41.54,90,4,0.92,US,1665826902

In [22]:
# Narrow down ideal weather conditions
ideal_temp = (df["Max Temperature"] < 80) & (df["Max Temperature"] > 70)
ideal_wind = (df["Wind Speed"] < 10)
ideal_cloud = (df["Cloudiness"] == 0)
ideal_humidity = (df["Humidity"] < 30)
ideal_weather = df.loc[ideal_temp & ideal_wind & ideal_cloud & ideal_humidity]

ideal_weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             0 non-null      object
 1   Latitude         0 non-null      float64
 2   Longitude        0 non-null      float64
 3   Max Temperature  0 non-null      float64
 4   Humidity         0 non-null      int64
 5   Cloudiness       0 non-null      int64
 6   Wind Speed       0 non-null      float64
 7   Country          0 non-null      object
 8   Date             0 non-null      int64
dtypes: float64(4), int64(3), object(2)
memory usage: 0.0+ bytes

In [23]:
print("These ideal weather conditions were too narrow for the existing data set, set different conditions.")
ideal_weather

These ideal weather conditions were too narrow for the existing data set, set different conditions.

Empty DataFrame
Columns: [City, Latitude, Longitude, Max Temperature, Humidity, Cloudiness, Wind Speed, Country, Date]
Index: []

In [24]:
# Narrow down ideal weather conditions
ideal_temp = (df["Max Temperature"] <= 90) & (df["Max Temperature"] >= 60)
ideal_wind = (df["Wind Speed"] <= 30)
ideal_cloud = (df["Cloudiness"] <= 30)
ideal_humidity = (df["Humidity"] <= 30)
ideal_weather = df.loc[ideal_temp & ideal_wind & ideal_cloud & ideal_humidity]

# ideal_df = df.loc[(df["Wind Speed"] <= 10)][(df["Cloudiness"] == 0)][(df["Max Temperature"] < 80)][(df["Max Temperature"] > 70)][(df["Humidity"] < 30)].dropna()

# Drop null values
ideal_weather = ideal_weather.dropna()

ideal_weather

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
26,Zomba,-15.3860,35.3188,84.09,19,0,7.92,MW,1665826906
89,Phalaborwa,-23.9430,31.1411,79.88,27,4,12.35,ZA,1665826917
98,Bo`ka,40.8108,69.1986,82.69,9,13,3.85,UZ,1665826918

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [25]:
# store into variable name hotel_df
hotel_df = ideal_weather

# add "Hotel Name" column
hotel_df["Hotel Name"] = ""

hotel_df.info()
hotel_df

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 26 to 98
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             3 non-null      object
 1   Latitude         3 non-null      float64
 2   Longitude        3 non-null      float64
 3   Max Temperature  3 non-null      float64
 4   Humidity         3 non-null      int64
 5   Cloudiness       3 non-null      int64
 6   Wind Speed       3 non-null      float64
 7   Country          3 non-null      object
 8   Date             3 non-null      int64
 9   Hotel Name       3 non-null      object
dtypes: float64(4), int64(3), object(3)
memory usage: 264.0+ bytes

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
26,Zomba,-15.3860,35.3188,84.09,19,0,7.92,MW,1665826906,
89,Phalaborwa,-23.9430,31.1411,79.88,27,4,12.35,ZA,1665826917,
98,Bo`ka,40.8108,69.1986,82.69,9,13,3.85,UZ,1665826918,

In [26]:
for index, row in hotel_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
    city = row["City"]
    # Hit the Google Places API for each city's coordinates
    coords = (f"{lat},{lng}")

    parameters = {
    "key": g_key,
    # Set parameters to search for hotels with 5000 meters
    "radius": 5000,
    "location": coords,
    "type": "lodging"
   }

    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response_json = requests.get(url, params = parameters).json()

    print(f'Retrieving Results for Index {index}: {city}')

    try:
        # Store the first Hotel result into the DataFrame
        hotel_name = hotel_df.loc[index, "Hotel Name"] = response_json["results"][0]["name"]
        print(f"The first closest hotel to {city} is: {hotel_name}")
        
    except (KeyError, IndexError):
        print("Missing information... skipping.")
    print("------------")

hotel_df

Retrieving Results for Index 26: Zomba
The first closest hotel to Zomba is: Trout Farm Campsite
------------
Retrieving Results for Index 89: Phalaborwa
The first closest hotel to Phalaborwa is: Bothabelo Bed and Breakfast
------------
Retrieving Results for Index 98: Bo`ka
The first closest hotel to Bo`ka is: Topchan hostel
------------

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
26,Zomba,-15.3860,35.3188,84.09,19,0,7.92,MW,1665826906,Trout Farm Campsite
89,Phalaborwa,-23.9430,31.1411,79.88,27,4,12.35,ZA,1665826917,Bothabelo Bed and Breakfast
98,Bo`ka,40.8108,69.1986,82.69,9,13,3.85,UZ,1665826918,Topchan hostel

In [27]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [29]:
# Add marker layer ontop of heat map
columns = ["Latitude", "Longitude"]
locations = hotel_df[columns].astype(float)

# Plot markers on top of the heatmap
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))